html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
/* To-do List Styles */
.todo-list {
  width: min(90%, 750px);
  padding: 10px;
  display: grid;
  place-items: center;
  margin: auto;
}
.todo-list > h2 {
  width: 100%;
  margin-bottom: 20px;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
}
.todo-item {
  display: grid;
  align-items: center;
  outline: 1px solid;
  padding: 10px;
  width: 100%;
  grid-template-columns: 30px 70fr 20fr 40px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.todo-item > h3 {
  line-height: 200%;
}
.todo-item > p {
  padding: 5px;
  outline: 1px solid black;
  height: 2em;
  align-self: self-end;
  text-align: center;
  line-height: 150%;
}
.todo-item[data-priority="chill"] > p {
  background-color: lightgreen;
}
.todo-item[data-priority="moderate"] > p {
  background-color: yellow;
}
.todo-item[data-priority="urgent"] > p {
  background-color: red;
  color: white;
}
.todo-item > div.checkbox {
  display: grid;
  place-content: center;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  padding: 10px;
}
.todo-item > div.checkbox.checked::after {
  content: "\2713";
  font-size: 20px;
  background-color: transparent;
}
.todo-item:has(.checked) {
  background-color: lightgray;
}
.todo-item:has(.checked) > h3 {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
}
.todo-item:has(.checked) > p {
  background-color: transparent !important;
  color: black !important;
}
.todo-item > svg {
  width: 35px;
  justify-self: self-end;
  fill: darkred;
  cursor: pointer;
}
/* New Task Styles */
button.new-list-item-button {
  background-color: rgb(37, 151, 142);
  color: white;
  cursor: pointer;
}
button.new-list-item-button,
div.new-list-item {
  width: 100%;
  height: 40px;
  outline: 1px solid;
}
div.new-list-item {
  display: flex;
}
input.new-list-item-input {
  width: 62%;
  height: 100%;
  padding: 10px;
}
input.new-list-item-input:focus {
  outline: none;
}
div.new-list-item > select {
  width: 30%;
  height: 100%;
  text-transform: uppercase;
  border-left: 1px solid;
  background-color: rgb(37, 151, 142);
  color: white;
}
div.new-list-item > select:focus {
  outline: none;
}
div.new-list-item > svg {
  flex: 1;
  border-left: 1px solid white;
  fill: white;
  background-color: rgb(37, 151, 142);
  cursor: pointer;
}
/* Edit List Item Styles */
.edit-list-item-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}
form.edit-list-item-form {
  position: relative;
  background-color: white;
  width: min(90dvw, 700px);
  min-height: 50%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}
form.edit-list-item-form > *:focus {
  outline: none;
}
form.edit-list-item-form > input:nth-child(1) {
  padding: 10px;
  border-bottom: 1px solid;
}
form.edit-list-item-form > textarea {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  height: 300px;
  resize: none;
  border-radius: 10px;
}
form.edit-list-item-form > div.priority-div,
div.status-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: min(100%, 400px);
}
form.edit-list-item-form > div.priority-div > h4,
div.status-div > h4 {
  grid-column: 1/4;
  justify-self: start;
}
form.edit-list-item-form > button {
  background-color: rgb(0, 70, 160);
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
form.edit-list-item-form > button#close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  font-weight: 900;
}
form.edit-list-item-form > div > div {
  display: flex;
  gap: 10px;
}
form.edit-list-item-form > div > label > input {
  accent-color: rgb(0, 70, 160);
}
